.*
!.gitignore

*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/

generated_rtl/
generated_sim/
generated_pkts/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/rtl/*.vhd
/rtl/*.v
*.cf
*.xml
*$*
*.vvp
*.pyc
*.json
*.vcd
*.*#
!/rtl/*_tb.vhd
*.bin

simWorkspace/
tmp/
waves/*/*
